body {
  background-color: #C5C6C7;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#about-us{
  padding: 3% 14%;
}
.footer-section {
  background-color: #181b1f;
  font: "Montserrat:Bold";
}

h1, h5{
  font-family: "Montserrat", sans-serif;
  size: 3rem;
  line-height: 1.5;
  padding: 3% 15%;
  font-weight:bolder;
}

p {
  font-family: "Oxygen", sans-serif;
  size: 1rem;
}

em {
  font-family: "Oxygen", sans-serif;
  size: 0.5rem;
}

.logos {
  margin: auto;
  width: 50%;
  padding: 2%;
}

.card-deck {
  padding: 3% 15%;
}

.logo {
  width: 20%;
}

#mail {
  padding: 3% 5%; 
}

#icons {
  padding: 3% 10%;
  float: right;
}



.footer-links {
  color: #f5f5f5;
  position:relative;
  top: 5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: black;
}

.person {
  width: 30%;
}

#footer {
  align-items: center;
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}

.client-img {
  width: 70%;
}

.nav-link {
  color: black;
}

#reviews{
  padding: 3% 14%;
}

#clients{
  background-image: url("clients.jpg");
}

.social{
  padding-top: 5rem;
}

.social a{
  color: white;
}

.navbar-brand{
  color:black;
}